*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: sans-serif;

    scroll-behavior: smooth;

    -webkit-font-smoothings: antialiased;
    -moz-osx-font-smoothings: grayscale;


    color: #fff;
}

a{
    color: #fff;
}